.order-box{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(190, 181, 181);
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}
button{
  margin-left: 10px;
}

input{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11.5;
  border-radius: 5px;
  border: solid 1px grey;
}

.upload-button{
  position: relative;
  display: inline-block;
  padding: 12px 8px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #f2f5ee;
  font-size: 16px;
  font-weight: bold;
}

h2, h1, .upload-button, select,
p{
  margin-left: 10%;
}

.upload-file{
  display: inline-block;
        background-color: #a0a7a5;
        border-radius: 15px;
        border: 4px double #cccccc;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 8px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}
.select{
  border-radius: 10px;
  background-color: rgb(211, 206, 206); 
  border: none;
  padding: 5px 20px;
}
